# --- Visual Studio ---
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
*.db
*.ipch

# --- Git ignore general pero con excepciones ---
# Primero ignoramos todos los ejecutables y archivos de compilación
*.exe
*.pdb
*.obj
*.o

# --- EXCEPCIONES PARA EL PROYECTO ---
# Queremos que las DLLs de SFML que están en la raíz SÍ se suban
!openal32.dll
!sfml-*.dll
!*.vcxproj

# Queremos que el archivo de solución (.slnx o .sln) SÍ se suba
!*.slnx
!*.sln